@import url(../index.css);

.home-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--darkblue);
  color: var(--white);
  padding: 10px 50px;
  gap: 20px;
}

.left-section {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 250px;
  aspect-ratio: 1;
  background: red;
  height: auto;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: calc(100% / 2);
  text-align: center;
  max-width: 400px;
  font-family: sans-serif;
}

.right-section h1 {
  font-size: 30px;
  font-weight: bolder;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

/* button {
  background: var(--blue);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
} */

.toggle-auth span:hover {
  text-decoration: underline;
}

.toggle-auth span:focus {
  text-decoration: underline;
}

.toggle-auth span {
  color: var(--blue);
  cursor: pointer;
  padding-left: 10px;
}

@media screen and (max-width: 1024px) {
  .logo {
    width: 200px;
    aspect-ratio: 1;
  }

  .home-container {
    padding: 10px 10px;
  }

  .right-section {
    min-width: 390px;
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column;
    gap: 30px;
  }
}
