@import url(../index.css);

.trends {
  padding: 20px;
  background-color: var(--darkblue);
  color: var(--white);
  right: 0;
  top: 0;
}

.trends p {
  font-size: 20px;
  margin-bottom: 10px;
}

.trends ul {
  list-style: none;
  padding: 20px 0;
}

.trends li {
  padding: 10px;
  cursor: pointer;
}

.trends li:not(:last-child) {
  border-bottom: 1px solid var(--white);
}
