@import "tailwindcss";

::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --darkblue: #1e2026;
  --red: #a4243b;
  --blue: #276bf2;
  --blue-hovered: #2057c3;
  --white: #f2f2f2;
  --sans-serif: "sans serif";
}
